Part A

In [5]:
import pandas as pd
import numpy as np

In [6]:
fn="input02.txt"

In [37]:
df=pd.read_csv(fn,delimiter=" ",header=None)
df

           0  1
0    forward  7
1       down  1
2    forward  9
3    forward  4
4    forward  7
..       ... ..
995     down  9
996  forward  7
997     down  5
998     down  6
999  forward  9

[1000 rows x 2 columns]

In [38]:
df.rename({0: "direction", 1: "count"}, axis=1, inplace=True)

In [39]:
df

    direction  count
0     forward      7
1        down      1
2     forward      9
3     forward      4
4     forward      7
..        ...    ...
995      down      9
996   forward      7
997      down      5
998      down      6
999   forward      9

[1000 rows x 2 columns]

In [19]:
summary=df.groupby("direction").sum()
summary

           count
direction
down        2048
forward     1944
up           999

In [20]:
# final result
(2048-999)*1944

2039256

Part B

In [28]:
depth=0
horizontal=0
aim=0
for direc,count in zip(df["direction"],df["count"]):
    if direc=="forward":
        horizontal+=count
        depth+=aim*count
    elif direc=="down":
        aim+=count
    elif direc=="up":
        aim-=count

In [29]:
print(horizontal)
print(depth)
print(aim)

1944
954969
1049

In [30]:
depth*horizontal

1856459736